{% extends 'base.html' %}
{% load static %}
{% block title %} - Listar Clientes{% endblock %}

{% block menu %}
<div class="col-sm-6">
    <div class="breadcrumbs-area clearfix">
        <h4 class="page-title pull-left">Home</h4>
        <ul class="breadcrumbs pull-left">
            <li><a href="{% url 'main:index' %}">Home</a></li>
            <li><span>Listar Clientes</span></li>
        </ul>
    </div>
</div>
{% endblock %}
{% block content %}

<link href="{% static 'vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}" rel="stylesheet">

<div class="main-content-inner">
  <div class="row">
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Listagem</h4>
                <div class="data-tables">
                    <table id="datatable" class="text-center table table-bordered" width="100%">
                        <thead class="bg-light text-capitalize">
                            <tr>
                                <th>ID</th>
                                <th>Nome</th>
                                <th>Contacto</th>
                                <th>Data de Nascimento</th>
                                <th>Nº de B.I.</th>
                                <th>Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for cl in clientes %}
                            <tr>

                                <td>{{cl.id}}</td>
                                <td>{{cl.nome_completo}}</td>
                                <td>{{cl.contacto}}</td>
                                <td>{{cl.data_nascimento}}</td>
                                <td>{{cl.num_bi}}</td>
                                <td>
                                  <a href="{% url 'main:editar_cliente' cl.id %}"> <i class="fa fa-pencil"></i> </a>
                                  <a href="{% url 'main:eliminar_cliente' cl.id %}"> <i class="fa fa-trash"></i> </a> 
                                </td>

                            </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
<script src="{% static 'js/datatables.net/js/data-table-act.js' %}"></script>
<script src="{% static 'js/datatables.net/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'js/datatables.net/js/jquery.dataTables.min.js' %}"></script>
{% endblock %}
