{% extends 'base.html' %}
{% load static %}
{% block title %} - Sign Up {% endblock %}

{% block menu %}
<div class="col-sm-6">
    <div class="breadcrumbs-area clearfix">
        <h4 class="page-title pull-left">Home</h4>
        <ul class="breadcrumbs pull-left">
            <li><a href="{% url 'main:index' %}">Home</a></li>
            <li><span>Sign Up </span></li>
        </ul>
    </div>
</div>
{% endblock %}
{% block content %}

<link rel="shortcut icon" type="image/png' %}" href="{% static 'images/icon/favicon.ico">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
<link rel="stylesheet" href="{% static 'css/metisMenu.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}">
<!-- amchart css -->
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css' %}" media="all" />
<!-- others css -->
<link rel="stylesheet" href="{% static 'css/typography.css' %}">
<link rel="stylesheet" href="{% static 'css/default-css.css' %}">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
<!-- modernizr css -->
<script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>

    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
<div class="main-content-inner">
  <!-- preloader area end -->
  <!-- login area start -->
  <div class="row">
    <div class="col-xs-12">
        <div class="card">
            <form method="POST">
              {% csrf_token %}
                <div class="header-title">
                    <h4>Sign Up</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        {{form}}
                    </div>
                    <div class="form-group">
                        <button id="form_submit" class="btn btn-primary" type="submit">Salvar </button>
                        <button class="btn btn-default" type="reset">Limpar </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </div>
  <!-- login area end -->

  <div class="row">
  <div class="card col-12 mt-5">
    <div class="card-body">
        <h4 class="header-title">Listagem</h4>
        <div class="data-tables">
          <table id="datatable" class="text-center table table-bordered" width="100%">
              <thead class="bg-light text-capitalize">
                  <tr>
                      <th>ID</th>
                      <th>Nome</th>
                      <th>Email</th>
                      <th>Opções</th>
                  </tr>
              </thead>
              <tbody>
                {% for cl in users %}
                  <tr>

                      <td>{{cl.id}}</td>
                      <td>{{cl.first_name}} {{cl.last_name}}</td>
                      <td>{{cl.email}}</td>
                      <td> <a href="{% url 'accounts:eliminar_funcionario' cl.id %}"> <i class="fa fa-trash"></i> </a> </td>
                  </tr>
                {% endfor %}
              </tbody>
          </table>
        </div>
    </div>
  </div>
  </div>
</div>
<!-- bootstrap 4 js -->
<script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
<script src="{% static 'js/datatables.net/js/data-table-act.js' %}"></script>
<script src="{% static 'js/datatables.net/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'js/datatables.net/js/jquery.dataTables.min.js' %}"></script>
{% endblock %}
